<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        
        <div class="container-fluid my-auto">
            <div class="row">
                <div class="col-md-4 left-bar">
                <h3>Game Connect+</h3>
                <br>
                <h5 class="mt-4 ">{{user.name}}</h5>
                <br>
                <form action="/posts" method="post" id="post_box" class="mb-5">
                    <div class="form-group">
                        <input type="hidden" name="user" value="{{user._id}}">
                        <input type="hidden" name="creator" value="{{user.name}}">
                        <textarea class="form-control" id="post_text" name="text" rows="5" placeholder="What's on your mind?" required></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">Post</button>
                    <small id="form-warning"></small>
                </form>
                <div class="col-md-12 mt-5">
                    <h5>My Posts</h5>
                    <div class="own_posts">
                        <ul>
                            {{#each userPosts}}
                                <li>{{this.text}} - <a class="text-danger" href="/posts/delete/{{../user.id}}/{{this._id}}">Delete</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8 content-box">
                <h1>Post Wall</h1> 
                <a class="btn btn-primary" href="/users/home/{{user._id}}">Refresh</a>
                <a class="btn btn-danger" href="/">Logout</a>
                <div class="row mt-3">
                    <div class="col-md-12 post-box mt-3">
                        {{#each allPosts}}
                        <div class="post">
                            <p class="name">{{this.creator}}</p>
                            <p class="post_text">{{this.text}}</p>
                            <p>{{this.comments.length}} Comments - <a href="/posts/{{../user._id}}/{{this._id}}">View Comments</a></p>
                            <form action="/posts/comment/{{user._id}}/{{this._id}}/home" method="post">
                                <div class="form-group">
                                    <input type="hidden" name="owner" value="{{../user.name}}">
                                    <input type="text" class="form-control" id="text" name="text" placeholder="Enter Comment Here" required>
                                </div>
                                <button class="btn btn-primary">Add Comment</button>
                            </form>
                        </div>
                        {{/each}}
                    </div>
                </div> 
            </div>
            </div>
            
        </div>

<!-- Resources -->

    <!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="/js/register.js"></script>
    </body>
</html>